/* src/App.css */

.book-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
  }
  
  .book-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .bookshelf-list {
    display: flex;
    flex-wrap: wrap;
  }
  